{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    booking
{% endblock %}

{% block body %}
    <h1 class="text-center text-info">Make an Appoinment</h1>
    <hr>
    <div class="container-fluid my-5 p-3" style="margin-left:10%; width:30rem">
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button class="btn btn-info mb-4" type="submit" onclick="alert('Booking Submitted')">Submit</button>
            <br>

            <div class="container">
              {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                      <div class="alert alert-success">
                        {{message}}
                      </div>
                    {% else %}
                      <div class="alert alert-danger">
                        {{message}}
                      </div>
                    {% endif %}
                {% endfor %}
              {% endif %}
            </div>

        </form>
    </div>
{% endblock %}