<!--Templete inheritence-->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    booking
{% endblock %}

{% block body %}
    <!-- //modal-popup-->
<section class="w3l-contact-11 pt-5">
    <div class="contacts-main pt-lg-5 pt-3">
      <div class="title-content text-center">
        <h6 class="sub-titlehny">Book Here</h6>
        <h3 class="hny-title mb-0">Make an Appoinment</h3>
      </div>
      <div class="form-41-mian section-gap mt-5">
        <div class="container" style="max-width:550px">
          <div class="d-grid align-form-map">
            <div class="form-inner-cont">
              <form method="POST">
<!--            it is used when method="POST" cross site request forgery protection-->
                {% csrf_token %}
<!--            BookingForm that is created in forms.py with modified with crispy form-->
                {{form|crispy}}
                <br>
                <div class="form-submit text-right">
                    <button type="submit" class="btn btn-style btn-primary">Submit</button>
                </div>
                <br>

                <div class="container">
                  {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'success' %}
                          <div class="alert alert-success">
                            {{message}}
                          </div>
                        {% else %}
                          <div class="alert alert-danger">
                            {{message}}
                          </div>
                        {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>

            </form>
            </div>

          </div>
        </div>
      </div>

    </div>
  </section>
{% endblock %}