{% extends 'base.html' %}

{% block title %}
    doctors
{% endblock %}

{% block body %}
    <!--/team-sec-->
  <section class="w3l-team py-5" id="team">
    <div class="container py-lg-4 py-sm-3">
      <div class="header-sec text-center">
        <h6 class="sub-titlehny text-center">Best Doctors</h6>
        <h3 class="hny-title text-center">Our Doctors</h3>
        <div class="separatorhny"></div>

      </div>
      <div class="row text-center mt-5">
        {% for d in doctors %}
        <div class="col-md-3 col-6">
          <div class="team-grids text-center">
            <img src="{{d.doc_image.url}}" class="img-fluid" alt="" style="width:250px;height:270px">
            <div class="team-info">
              <div class="caption">
                <div class="social-icons-section text-center">
                  <a class="fac" href="{% url 'doctor' %}">
                    <span class="fa fa-facebook"></span>
                  </a>
                  <a class="twitter" href="{% url 'doctor' %}">
                    <span class="fa fa-twitter"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <h4><a href="#team">Dr.{{d.doc_name}}</a></h4>
          <h5>{{d.doc_spec}}</h5><br><br>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
  <!--//team-sec-->
{% endblock %}