{% extends 'base.html' %}

{% block title %}
    doctors
{% endblock %}

{% block body %}
    <h1 class="text-center text-info">Doctors </h1>
    <hr>
    <div class="container text-center" style="margin-bottom:6rem">
    {% for d in doctors %}
        <div class="card mx-3 my-5" style="width: 18rem;display:inline-block;">
            <img class="card-img-top" style="width:177px;height:175px" src="{{d.doc_image.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Dr.{{d.doc_name}}</h5>
                <p class="card-text">{{d.doc_spec}}</p>

            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}